<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="wrapper">
    <!-- Navbar -->
    {{> sidebar}}
    <!-- Main Sidebar Container -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Invoice</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Invoice</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12" id="pdfpage">
                        <div class="card-header bg-primary">
                            <h2 style="text-align:center">Invoice Details</h2>
                        </div>


                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                            <!-- title row -->
                            <div class="row">

                                <!-- /.col -->
                            </div>
                            <!-- info row -->
                            <div class="row invoice-info">
                                <div class="col-sm-3 invoice-col">
                                    <style>
                                        input[type=text] {
                                            width: 20%;
                                            padding: 1px 1px;
                                            margin: 1px 0;
                                            box-sizing: border-box;
                                            border: none;
                                            border-bottom: 1px solid rgb(177, 175, 175);
                                        }

                                    </style>
                                    <address>
                                        <address>
                                            <strong>Cloud City</strong><br>
                                            Shack Restaurant,<br>
                                            Pathanamthitta<br>
                                        </address>
                                    </address>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 invoice-col">
                                    <address>

                                        <b>Name</b>&nbsp;&nbsp;: <label for="name">{{customerName}}</label><br>
                                        <b>Phone</b>&nbsp;&nbsp;: <label for="phone">{{phoneNo}}</label>
                                    </address>

                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 visits-col">
                                    <b>Table Number&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp; {{tableNo}} </b>

                                    </p>
                                    <p>
                                        <b>No.of
                                            Visits : {{count}}
                                        </b>
                                    </p>
                                    <p>

                                        <b>Waiter
                                            Name&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{waiterName}}
                                        </b>

                                    <p></p>

                                </div>
                                <div class="col-sm-2 invoice-col">
                                    <b>Invoice Number&nbsp;&nbsp;&nbsp;:</b>
                                    <p id="invoice"> {{invoiceNo}}</p>
                                    </p>
                                    <p>
                                        <b>Date&nbsp;&nbsp;&nbsp;:&nbsp;</b><label for="date">
                                            <script>var today = new Date();
                                                var dd = String(today.getDate()).padStart(2, '0');
                                                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                                var yyyy = today.getFullYear();

                                                today = dd + '/' + mm + '/' + yyyy;
                                                document.write(today);</script></label><br>
                                        <b>Time&nbsp;&nbsp;&nbsp;:&nbsp;</b>
                                        <label for="time">
                                            <script>
                                                function formatAMPM(date) {
                                                    var hours = date.getHours();
                                                    var minutes = date.getMinutes();
                                                    var ampm = hours >= 12 ? 'pm' : 'am';
                                                    hours = hours % 12;
                                                    hours = hours ? hours : 12; // the hour '0' should be '12'
                                                    minutes = minutes < 10 ? '0' + minutes : minutes;
                                                    var strTime = hours + ':' + minutes + ' ' + ampm;
                                                    return strTime;
                                                }

                                                document.write(formatAMPM(new Date));
                                            </script>
                                        </label><br>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <!-- Table row -->
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table class="table table-striped">
                                        <thead class="table-head bg-dark">
                                            <tr>
                                                <th>Sl.</th>
                                                <th>Items</th>
                                                <th>Type</th>
                                                <th>Quantity</th>
                                                <th>Rate</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each items}}
                                            <tr>
                                                <td>
                                                    <script>var today = new Date();
                                                        var no = Number({{@index}})
                                                        document.write(no + 1);</script>
                                                </td>
                                                <td>{{this.itemName}}</td>
                                                <td>{{this.order_type}}</td>
                                                <td>{{this.qty}}</td>
                                                <td>{{this.item_price}}</td>
                                                <td>{{this.item_total}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <div class="row mb-5">
                                <div class="col-lg-6 col-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="bill-remarks">Remarks :</label><br>

                                        <textarea class="form-control" id="remarks"
                                            placeholder="...">{{remarks}}</textarea>
                                    </div>


                                </div>

                                <div class="col-lg-6 col-12 col-sm-12">
                                    <p class="lead">Calculate Amount</p>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th style="width:50%">Subtotal </th>
                                                <td>{{total_bill}}</td>
                                            </tr>
                                            <tr>
                                                <th>Discount <input type="number" min=0 max=100 style="width: 50px;"
                                                        id="discount" value="0" onchange="find_bill()">% </th>
                                                <td id="disText"> </td>
                                            </tr>
                                            <tr>
                                                <th>Total </th>
                                                <td id="total"></td>
                                            </tr>
                                            <!--
                                            <tr>
                                                <th>CGST (6%)</th>
                                                <td id="cgst"></td>
                                            </tr>
                                            <tr>
                                                <th>SGST (6%) </th>
                                                <td id="sgst"></td>
                                            </tr>
                                            -->
                                            <tr>
                                                <th>Grand Total </th>
                                                <td id='grandTotal'> </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.col -->

                                <!-- /.col -->
                            </div>

                            <!-- /.row -->

                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                                <div class="col-4">
                                    <button target="_blank" class="btn btn-success" onclick="print()"><i
                                            class="fas fa-print"></i>
                                        Print</button></div>
                                <div class="col-6">
                                </div>

                            </div>
                        </div><br>
                        <div class="col sm-12">
                            <p class="lead">Payment Methods:</p>
                            <img src="../../dist/img/credit/visa.png" alt="Visa">
                            <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                            <img src="../../dist/img/credit/american-express.png" alt="American Express">
                            <img src="../../dist/img/credit/paypal2.png" alt="Paypal">

                            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                The way that a buyer choose any typical payment methods used in a modern business
                                context include cash, checks, credit or debit cards, money orders, bank transfers and
                                online payment services such as PayPal.



                            </p>
                        </div>
                    </div>
                    <!-- /.invoice -->
                    <div id="editor"></div>
                </div><!-- /.col -->
            </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{> footer}}

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{{> flash}}

<script>
    let discount
    let grand_total
    let invoice = {}
    let customerName = " {{customerName}}"
    let customerMob = "{{phoneNo}}"
    let id = "{{orderid}}"
    let invoiceNo = "{{ invoiceNo }}"
    let lastDigitPre = invoiceNo.substr(-5)
    let lastDigit = Number(lastDigitPre)
    let remarks = ""
    const find_bill = () => {

        let = subTotal = '{{total_bill}}'
        discount = document.getElementById('discount').value;
        let total = Number(subTotal) - Number(subTotal) * Number(discount) * 0.01
        let cgst_rate = 0
        let sgst_rate = 0
        let cgst = total * cgst_rate * 0.01
        let sgst = total * sgst_rate * 0.01
        grand_total = Math.round(total + sgst + cgst)


        document.getElementById("disText").innerHTML = Number(subTotal) * Number(discount) * 0.01
        document.getElementById("total").innerHTML = total
        //document.getElementById("cgst").innerHTML = Math.round(sgst * 100) / 100
        //document.getElementById("sgst").innerHTML = Math.round(sgst * 100) / 100
        document.getElementById("grandTotal").innerHTML = grand_total

    }
    find_bill()
    $(document).ready(function () {

        $('#submitButton').click(function () {
            remarks = document.getElementById("remarks").value
            discount = document.getElementById("discount").value
            beforeDis = '{{total_bill}}'
            invoice = {
                customer: customerName,
                customerMob: customerMob,
                total: grand_total,
                order: id,
                invoiceNo: invoiceNo,
                lastDigit: lastDigit,
                remarks: remarks,
                discount: discount,
                beforeDis: beforeDis

            }
            $.post('/cashier/submit', invoice, function (data, status) {
                console.log(data);
                if (data.success) {
                    pageRedirect();
                }
            });
        });
        $("#printbtn").click(function () {

            window.print()
        })
    })



    function pageRedirect() {
        window.location.href = '/cashier/vieworders';
    }
    function print() {
        window.open('/admin/billprint/{{orderid}}/' + discount)

    }


</script>
