<link rel="stylesheet" href="/custom.css">
<div class="wrapper">
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {{> sidebar}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard admin</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content 
    <section class="content">
      <h2>&nbsp;Admin</h2>
    </section>-->
    <section class="content">
      <div class="container-fluid">

        <div class="row ">

          <div class="col-lg-3 col-12 col-md-6  px-2">
            <div class="card     cashier-card">
              <div class="row">
                <div class="card-body">
                  <a class="cardLink" href="todaysorders">
                    <h2 class=""> {{totalOrders}}</h2>
                    <p class="  cardSubText  mb-2   ">Total Orders</p>
                  </a>

                </div>
                <div class="icon mr-4  my-auto fa-icon">
                  <a class="cardLink" href="todaysorders">
                    <i class=" fas fa-file-invoice-dollar"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-12 col-md-6  px-2">
            <div class="card    cashier-card2">
              <div class="row">
                <div class="card-body">
                  <a class="cardLink" href="procesingorders">
                    <h2 class="">{{procesingOrder}}</h2>
                    <p class="  cardSubText  mb-2   ">Processing </p>
                  </a>

                </div>
                <div class="icon mr-4  my-auto fa-icon">
                  <a class="cardLink" href="procesingorders">
                    <i class="fas fa-clipboard-list"></i>
                  </a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6  px-2">
            <div class="card    cashier-card3">
              <div class="row">
                <div class="card-body">
                  <a class="cardLink" href="cookingorders">
                    <h2 class=""> {{cookingOrder}}</h2>
                    <p class="  cardSubText  mb-2    ">Cooking </p>
                  </a>

                </div>
                <div class="icon mr-4  my-auto fa-icon">
                  <a class="cardLink" href="cookingorders">
                    <i class="fas fa-utensils"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-12 col-md-6  px-2">
            <div class="card    cashier-card4">
              <div class="row">
                <div class="card-body">
                  <a class="cardLink" href="finishedorders">
                    <h2 class="">{{closedOrder}}</h2>
                    <p class="  cardSubText  mb-2   ">Finished </p>
                  </a>

                </div>
                <div class="icon mr-4  my-auto fa-icon">
                  <a class="cardLink" href="finishedorders">
                    <i class="fas fa-clipboard-check"></i>
                  </a>

                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- Card END -->
        <div class="row my-3">
          <div class="col-lg-6 col-12 col-md-12  px-2">
            <div class="card    cashier-card-lg1">
              <div class="row">
                <div class="card-body">
                  <a class="cardLink" href="oldorders">
                    <h2 class=""> Previous Orders </h2>
                    <p class="  cardSubText  mb-2    "> Choose a date and View orders</p>
                  </a>
                </div>
                <div class="icon mr-4 ml-4 my-auto fa-icon">
                  <a class="cardLink" href="oldorders">
                    <i class="far fa-calendar-alt"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12 col-md-12  px-2">
            <div class="card    cashier-card-lg1">
              <div class="row">
                <div class="card-body">
                  <a class="cardLink" href="listprivilegecard">
                    <h2 class=""> {{cardCount}} </h2>
                    <p class="  cardSubText  mb-2    "> Privilege Customers</p>
                  </a>
                </div>
                <div class="icon mr-4 ml-4 my-auto fa-icon">
                  <a class="cardLink" href="listprivilegecard">
                    <i class="fas fa-users"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>


        </div>
        <h2>
          Latest Orders
        </h2>
        <!-- Table START -->
        <table class="table">
          <thead>
            <tr class="bg-primary">
              <th scope="col">Invoice No</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Customer No</th>
              <th scope="col">Total Bill</th>
            </tr>
          </thead>
          <tbody>
            {{#each lastFiveOrders}}
            <tr>
              <th scope="row">{{this.invoiceNo}}</th>
              <td>{{this.customer}}</td>
              <td>{{this.customerMob}}</td>
              <td>{{this.total}}</td>
            </tr>

            {{/each}}

          </tbody>
        </table>

      </div>
  </div>

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{> footer}}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{{> flash}}
