<link rel="stylesheet" href="/dropDownMenu.css">

<div class="wrapper">
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {{> waiterSidebar}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">New Orders</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">New order</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="container mt-4">
          <h1 class="display-4 text-center">
            <span class="text-primary">NEW ORDER</span>
          </h1>
          <!-- form -->
          <form>
            <input type="hidden" class="form-control orderId " id='orderId' value="{{orderid}}">
            <input type="hidden" class="form-control orderId " id='waitername' value="{{waitername}}">

            <div class="row">

              <div class="form-group col-lg-3 col-sm-12">
                <label for="customerName">Name of Customer</label>
                <input type="text" class="form-control" id="customerName" aria-describedby="emailHelp"
                  placeholder="Enter Name">
              </div>
              <div class="form-group col-lg-3 col-sm-12">
                <label for="phoneno">Phone No</label>
                <input type="tel" class="form-control" id="phoneno" placeholder="Mobile no">
              </div>
              <div class="form-group col-lg-3 col-sm-12">
                <label for="tableNo">Table Number</label>

                <input type="number" class="form-control" id="tableNo" placeholder="Table no">
              </div>
              <div class="form-group col-lg-3 col-sm-12 my-auto">

                <input type="checkbox" class="form-check-input  ml-3 mt-4" id="privilegd" value="privileg"
                  style="transform:scale(2);">
                <label for="tableNo" class="ml-5 mt-3">Add to Privileged Customer </label>

              </div>
            </div>

          </form>
          <!-- form end -->

          <div class="row">
            <div class="container">

              <ul>
                {{#each data}}
                <li class="cdropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="cdropdown">{{this.cat}}</a>
                  <ul class="cdropdown-menu">
                    {{#each this.food}}

                    <li>
                      <div class="row m-3">
                        <div class="p-2 col align-self-start" id='itemName'>
                          {{this.name}} - ₹{{this.price}}

                        </div>

                        <div class="col-3 mr-5">
                          <input type="number" id='qty' class="form-control qty">
                          <input type="hidden" id='itemId' class="form-control itemId" value="{{this.id}}">
                          <input type="hidden" class="form-control itemName" value="{{this.name}}">
                          <input type="hidden" class="form-control itemPrice" value="{{this.price}}">
                        </div>

                        <button class="btn btn-outline-primary " role="button" onclick="GetItem()"><i
                            class="fas fa-plus"></i></button>
                      </div>
                      <div class="row m-3">
                        <div class="form-check col">
                          <input type="checkbox" class="form-check-input takeawayCheck" value="takeaway"
                            id="exampleCheck1" style="transform:scale(2);">
                          <label class="form-check-label" for="exampleCheck1">Parcel</label>


                        </div>
                        <div class="col-3 mr-5">
                          <input type="number" id='qty' class="form-control parcelQty">
                        </div>
                        <button class="btn btn-outline-warning " role="button" onclick="GetItem()"><i
                            class="fas fa-plus"></i></button>
                      </div>
                    </li>
                    <hr>
                    {{/each}}
                  </ul>
                </li>
                {{/each}}

              </ul>
            </div>
          </div>


          <script src="/additems.js"></script>
          <div class="row">
            <div class="col-lg-6 col-sm-12" id="finalOrder">

            </div>
            <div class="col-lg-6 col-sm-12" id="parcelOrder">

            </div>
            <div class="col-lg-6 col-sm-12" id="finalBill">

            </div>



          </div>




        </div>

      </div>

      <div class="row">
        <div class="col-5 mx-auto my-5">
          <button type="button" class="btn btn-primary btn-lg mx-auto" onclick="getData()"
            id='submitButton'>Submit</button>
        </div>
      </div>



  </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{> footer}}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{{> flash}}
