<link rel="stylesheet" href="/dropDownMenu.css">

<div class="wrapper">
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {{> waiterSidebar}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">New Orders</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">New order</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="container mt-4">
          <h1 class="display-4 text-center">
            <span class="text-primary">NEW ORDER</span>
          </h1>
          <!-- form -->
          <form>
            <div class="row m-5">

              <input type="hidden" class="form-control orderId " id='orderId' value="{{orderid}}">


            </div>
            <div class="row">
              <div class="form-group col-lg-4 col-sm-12">
                <label>Waiter Name : {{waiterName}}</label>
              </div>
              <div class="form-group col-lg-4 col-sm-12">
                <label for="customerName">Name of Customer</label>
                <input type="text" class="form-control" id="customerName" value="{{customerName}}"
                  aria-describedby="emailHelp" placeholder="Enter Name">
              </div>
              <div class="form-group col-lg-4 col-sm-12">
                <label for="phoneno">Phone No</label>
                <input type="tel" class="form-control" id="phoneno" value="{{phoneNo}}" placeholder="Mobile no">
              </div>
              <div class="form-group col-lg-4 col-sm-12">
                <label for="tableNo">Table Number</label>
                <input type="number" class="form-control" id="tableNo" value="{{tableNo}}" placeholder="Mobile no">
              </div>
            </div>

          </form>
          <!-- form end -->
          <ul class="list-group">
            {{#each items}}
            <li class="list-group-item">
              <span class="badge badge-pill badge-success">{{this.qty}}</span>
              {{this.itemName}}
              <span class="badge badge-warning">{{this.order_type}}</span>

            </li>
            {{/each}}
          </ul>


        </div>
      </div>
      <div class="text-center">
        <a class="btn btn-warning m-3" href="/waiter/listorder" role="button"> <i class="fas fa-backward"></i> Go
          back</a>
        <a class="btn btn-primary m-3" href="/waiter/dashboard" role="button"><i class="fab fa-elementor"></i> Dashbord
        </a>
      </div>
  </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{> footer}}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{{> flash}}
